<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex - PokeApi
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
<ion-card>
  <ion-card-header>
    <ion-card-title>Pokemons - 1º geração</ion-card-title>
    <ion-card-subtitle>Selecione 1 para mais detalhes</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let pokemon of pokemons; let i = index">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" [src]="pokemon.image" />
        </ion-thumbnail>
        <ion-label [innerText]="pokemon.name"></ion-label>
      </ion-item>      
    </ion-list>
  </ion-card-content>
</ion-card>
  </ion-grid>
</ion-content>


