<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex Detalhes -  PokeApi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="details">
    <ion-row class="ion-justify-content-center ion-padding-top fundo">
        <img [src]="details.sprite" alt="{{details.name}}">
    </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-text-capitalize ">
          <h1>{{details.name}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
